<div id="<%= dom_id hangout %>">
  <p>
    <strong>Date:</strong>
    <%= hangout.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= hangout.time %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= hangout.creator_id %>
  </p>

</div>
